<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LumiApp"
        tools:targetApi="31">
        <activity
            android:name=".RenterDashboardContainer"
            android:exported="false" />
        <activity
            android:name=".PropertyDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ContactList"
            android:exported="false" />
        <activity
            android:name=".AddContactActivity"
            android:exported="false" />
        <activity
            android:name=".ViewContactActivity"
            android:exported="false" />
        <activity
            android:name=".CreateFixRequestActivity"
            android:exported="false" />
        <activity
            android:name=".FixRequestList"
            android:exported="false" />
        <activity
            android:name=".FixRequestDetailActivity"
            android:exported="false" />
        <activity
            android:name=".CreateComplaint"
            android:exported="false" />
        <activity
            android:name=".ComplaintList"
            android:exported="false" />
        <activity
            android:name=".PMDashboardContainer"
            android:exported="false" />
        <activity
            android:name=".DashboardRenter"
            android:exported="false" />
        <activity
            android:name=".activity_role_select"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".RenterAccSetup"
            android:exported="false" />
        <activity
            android:name=".PMAccSetup"
            android:exported="false" />
        <activity
            android:name=".ComplaintDetailActivity"
            android:exported="false" />
    </application>

</manifest>